<h1>Todoist</h1>
<div class="registration-container">
    <h2 class="w-full"i18n="@@LOG_IN">Log in</h2>
    <span *ngIf="error" class="registration-error">{{ error }}</span>
    <form [formGroup]="authForm" (ngSubmit)="login()" class="w-full">
        <span class="p-float-label w-full">
            <input pInputText type="text" id="email" formControlName="email" class="w-full" />
            <label for="email">Email</label>
            <val-errors controlName="email"></val-errors>
        </span>
        <span class="p-float-label w-full">
            <p-password id="password" [toggleMask]="true" formControlName="password" inputStyleClass="w-full"></p-password>
            <label for="password" i18n="@@PASSWORD">Password</label>
            <val-errors controlName="password"></val-errors>
        </span>
        <button pButton type="submit" i18n-label="@@LOG_IN" label="Log in" [disabled]="!authForm.valid" class="w-full"></button>
    </form>
    <div class="w-full" i18n="@@DON'T_HAVE_ACCOUNT_YET">Don't have account yet? 
        <a routerLink="/signup">Sign up</a>
    </div>
</div>
