@import '../../../variables.scss';
.addtask-button {
    display: block;
    margin-top: 1rem;
    @media screen and (min-width: $small) and (max-width: $large),
                      (min-width: $extra-large) {
        margin-top: 0;
        width: 30%;
    }
}