<form [formGroup]="editTaskForm" (ngSubmit)="saveEditedTask()">
    <input pInputText type="text" placeholder="Описание" formControlName="description" pTooltip="Измените описание" tooltipPosition="top" class="form-control" />
    <div *ngIf="description?.invalid && description?.touched || description?.dirty">
        <span *ngIf="description?.errors?.['required']" class="validation-error">Обязательное поле</span>
    </div>
    <div class="form-control deadline-priority">
        <p-calendar formControlName="deadline" dateFormat="dd.mm.y" [showIcon]="true" [minDate]="minDate" appendTo="body" class="form-control-half" styleClass="form-control-half-primeng" pTooltip="Измените срок" tooltipPosition="top" placeholder="Срок" [firstDayOfWeek]="1"></p-calendar>
        <p-dropdown formControlName="priority" [options]="priorities" appendTo="body" class="form-control-half" styleClass="form-control-half-primeng" tooltip="Измените приоритет" tooltipPosition="top"></p-dropdown>
    </div>
    <div class="taskform-footer">
        <p-dropdown formControlName="category" [options]="categories" tooltip="Измените категорию" appendTo="body" styleClass="category-dropdown-primeng" class="form-control category-dropdown" placeholder="Категория" tooltipPosition="top"></p-dropdown>
        <button pButton type="submit" label="Сохранить" [disabled]="!editTaskForm.dirty || !editTaskForm.valid" class="savechanges-button"></button>
    </div>
</form>
