<h1>Todoist</h1>
<div class="registration-container">
    <h2 class="w-full" i18n="@@REGISTRATION">Registration</h2>
    <span *ngIf="error" class="registration-error">{{ error }}</span>
    <form [formGroup]="registrationForm" (ngSubmit)="signUp()" class="w-full">
        <span class="p-float-label w-full">
            <input pInputText type="text" id="email" formControlName="email" class="w-full" />
            <label for="email">Email</label>
        </span>
        <span class="p-float-label w-full">
            <p-password id="password" [toggleMask]="true" formControlName="password" inputStyleClass="w-full">
                <ng-template pTemplate="header">
                    <h6 i18n="@@ENTER_PASSWORD">Enter password</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <ul>
                        <li i18n="@@AT_LEAST_ONE_LOWERCASE">At least one lowercase</li>
                        <li i18n="@@AT_LEAST_ONE_UPPERCASE">At least one uppercase</li>
                        <li i18n="@@AT_LEAST_ONE_DIGIT">At least one digit</li>
                        <li i18n="@@MINIMUN_8_CHARACTERS">Minimum 8 characters</li>
                    </ul>
                </ng-template>
            </p-password>
            <label for="password" i18n="@@PASSWORD">Password</label>
        </span>
        <button pButton type="submit" i18n-label="@@SIGN_UP" label="Sign up" [disabled]="!registrationForm.valid" class="w-full"></button>
    </form>
    <div class="w-full" i18n="@@ALREADY_HAVE_ACCOUNT?_THEN">Already have account? Then 
        <a routerLink="/login">Log in</a>
    </div>
</div>