<div class="registration-container">
    <h2>Регистрация</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="signUp()">
        <span class="p-float-label">
            <input pInputText type="text" id="email" formControlName="email" />
            <label for="email">Email</label>
        </span>
        <span class="p-float-label">
            <p-password id="password" [toggleMask]="true" formControlName="password">
                <ng-template pTemplate="header">
                    <h6>Введите пароль</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <ul>
                        <li>Хотя бы одна строчная буква</li>
                        <li>Хотя бы одна прописная буква</li>
                        <li>Хотя бы одна цифра</li>
                        <li>Минимум 8 символов</li>
                    </ul>
                </ng-template>
            </p-password>
            <label for="password">Пароль</label>
        </span>
        <button pButton type="submit" label="Зарегистрироваться" [disabled]="!registrationForm.valid"></button>
    </form>
    <div>Уже есть аккаунт? Тогда 
        <a routerLink="/login">войдите</a>
    </div>
</div>