<div class="filter-chips">
    <p-chip [removable]="true" *ngIf="filterService.filters().status !== 'all'" (onRemove)="filterService.clearFilter('status')">
        <button type="button" (click)="openAdditionalFilters()" class="chip-button">
            {{ statusLabels[filterService.filters().status!] }}
        </button>
    </p-chip>
    <p-chip [removable]="true" *ngIf="filterService.filters().deadlineFrom" (onRemove)="filterService.clearFilter('deadlineFrom')">
        <button type="button" (click)="openAdditionalFilters()" class="chip-button" i18n="@@FROM">
            from {{filterService.filters().deadlineFrom | date:'dd.MM.yy' }}
        </button>
    </p-chip>
    <p-chip [removable]="true" *ngIf="filterService.filters().deadlineTo" (onRemove)="filterService.clearFilter('deadlineTo')">
        <button type="button" (click)="openAdditionalFilters()" class="chip-button" i18n="@@TO">
            to {{ filterService.filters().deadlineTo | date:'dd.MM.yy' }}
        </button>
    </p-chip>
    <p-chip [removable]="true" *ngFor="let priority of filterService.filters().priority" (onRemove)="filterService.removePriorityCheckbox(priority)">
        <button type="button" (click)="openAdditionalFilters()" class="chip-button">
            <i class="pi pi-flag-fill"></i>
            {{ priorityLabels[priority] }}
        </button>
    </p-chip>
    <p-chip [removable]="true" *ngFor="let category of filterService.filters().category" (onRemove)="filterService.removeCategoryCheckbox(category)">
        <button type="button" (click)="openAdditionalFilters()" class="chip-button">
            <i class="pi pi-hashtag"></i>
            {{ category.name }}
        </button>
    </p-chip>    
</div>