<div class="task">
    <div class="task-body">
        <p-checkbox class="task-checkbox" [ngModel]="task.done" (ngModelChange)="changeStatus(task.id)" [binary]="true"></p-checkbox>
        <span>{{ task.description }}</span>
        <span>{{ task.deadline | date:'dd.MM.yy' }}</span>
        <span>{{ priorityLabels[task.priority] }}</span>
        <span>{{ task.category?.name }}</span>
    </div>
    <div>
        <button pButton (click)="openEditDialog(task)" icon="pi pi-pencil" class="p-button-outlined" pTooltip="Изменить задачу" tooltipPosition="left"></button>
        <button pButton icon="pi pi-trash" (click)="confirmDelete(task.id)" class="p-button-outlined task-button" pTooltip="Удалить задачу" tooltipPosition="left"></button>
    </div>
</div>
<p-divider></p-divider>
