@import '../../../variables.scss';
.task-checkbox {
    margin-right: 0.7rem;
}
.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-body {
    display: flex;
    align-items: center;
}
.task-button {
    margin-left: 0.3rem;
    color: $error-color;
}
