@import '../../../variables.scss';
.task-checkbox {
    margin-right: 0.7rem;
}
.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-body {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $medium) {
        flex-direction: row;
        align-items: center;
        width: 87%;
    }
}
.task-button {
    margin-left: 0.3rem;
    color: $error-color;
}
.low-priority {
    color: rgb(1, 154, 1);
}
.medium-priority {
    color: blue;
}
.high-priority {
    color: red;
}
.task-title {
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    @media screen and (min-width: $medium) {
        margin-bottom: 0;
        width: 40%;
    }
}
.task-property {
    margin-left: 33.2px;
    @media screen and (min-width: $medium) {
        margin-left: 0;
        width: 20%
    }
    .pi {
        margin-right: 0.3rem;
    } 
}
.task-buttons {
    display: flex;
}