@import '../../../variables.scss';
app-task {
    display: block;
}
.tasks {
    top: 5rem;
    position: relative;
}
.header {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-top: 0.5rem;
    width: 100%;
    button {
        margin-right: 2rem;
    }
}
header {
    position: fixed;
    z-index: 1;
    width: 100%;
}
@media screen and (min-width: $medium) {
    .sort-dropdown { 
        display: none;
    }
}

.sort-panel {
    display: none;
    width: 86%;
    margin-bottom: 1rem;
    @media screen and (min-width: $medium) {
        display: block;
    }
}
.task-title {
    display: inline-block;
}
.sort-button-clicked {
    background: $theme-color;
    color: $white-color;
}
.task-property {
    padding-left: 0;
    padding-right: 0.5rem;
}