<app-user-menu [sidebarVisible]="sidebarVisible" [toggleSidebarVisibility]="toggleSidebarVisibility"></app-user-menu>
<header>
    <div class="header">
        <button pButton (click)="toggleSidebarVisibility()" icon="pi pi-bars"></button>
        <button pButton (click)="openAddDialog()" label="Добавить задачу" icon="pi pi-plus"></button>
    </div>
</header>
<div class="tasks">
    <p-dropdown class="sort-dropdown" styleClass="sort-dropdown-primeng" [options]="sortOptions" [ngModel]="sortOption()" (ngModelChange)="sortOption.set($event)" optionLabel="label"></p-dropdown>
    <div class="sort-panel">
        <div class="task-title">Описание</div>
        <button pButton class="task-property" label="Срок"></button>
        <button pButton class="task-property" label="Приоритет"></button>
        <button pButton class="task-property" label="Категория"></button>
    </div>
    <app-task *ngFor="let task of sortedTasks()" [task]="task" [changeStatus]="changeStatus" [openEditDialog]="openEditDialog" [confirmDelete]="confirmDelete"></app-task>
</div>
<p-confirmDialog></p-confirmDialog>
