/* You can add global styles to this file, and also import other style files */
$small: 640px;
$large: 1024px;

.registration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 85%;

    @media screen and (min-width: $small) {
        width: 50%;
    }
    @media screen and (min-width: $large) {
        width: 35%;
    }

    .w-full {
        width: 100%;
    }

    h2 {
        margin-bottom: 2rem;
    }

    form {
        > * {
            margin-bottom: 1.5rem;
        }
        button {
            font-size: 18px;
        }
        span {
            p-password {
                display: block;
                div {
                    width: 100%;
                }
            }
        }
    }
}