/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import 'variables';

.registration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 85%;

    @media screen and (min-width: $small) {
        width: 50%;
    }
    @media screen and (min-width: $large) {
        width: 35%;
    }

    .w-full {
        width: 100%;
    }

    h2 {
        margin-bottom: 2rem;
    }

    form {
        > * {
            margin-bottom: 1.5rem;
        }
        button {
            font-size: 18px;
        }
        span {
            p-password {
                display: block;
                div {
                    width: 100%;
                }
            }
        }
    }
}
.registration-error {
    margin-bottom: 1.5rem;
    color: $error-color;
}

.p-dialog {
    width: 90%;
    top: 5rem;
    @media screen and (min-width: $large) {
        width: 50%;
    }
}
.p-dialog-mask {
    align-items: flex-start;
}
.accept-delete-button {
    background-color: $error-color;
}
.confirm-delete-button {
    font-size: 0.9rem;
}
.p-sidebar-content {
    display: flex;
    flex-direction: column;
}
.category-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.category-button {
    color: #495057;
}
.form-control {
    width: 100%;
    margin-bottom: 0.5rem;
}
.category-dropdown {
    display: block;
}
.category-dropdown-primeng {
    width: 100%;
    @media screen and (min-width: $small) and (max-width: $large),
                      (min-width: $extra-large) {
        width: 95%;
    }
}
.form-control-half {
    width: 49.5%;
    display: inline-block;
}
.form-control-half-primeng {
    width: 100%;
}
.deadline-priority {
    display: flex;
    justify-content: space-between;
}
.taskform-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media screen and (min-width: $small) and (max-width: $large),
                      (min-width: $extra-large) {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 1rem;
    }
}
.sort-dropdown-primeng {
    width: 295px;
    border-color: $theme-color;
    margin-bottom: 1rem;
    .p-dropdown-label {
        font-size: 0.9rem;
    }
}
.sort-dropdown-primeng .p-dropdown-trigger {
    color: $theme-color;
}

@media screen and (min-width: $medium) {
    .task-title {
        width: 40%;
    }
    .task-property {
        width: 20%
    }
}
.status-dropdown {
    width: 100%;
}
.filter-calendar {
    margin-bottom: 0.4rem;
    width: 150px;
    @media screen and (min-width: $medium) {
        margin-right: 0.4rem;
    }
}
.p-chip {
    height: 24.4px;
    align-items: baseline;
    margin: 0 0.3rem 0.3rem 0;
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
}